@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" class="text-center">
    <label for="orderId">Order Id</label>
    <input id="orderId" readonly name="orderId" value="@System.Guid.NewGuid()"/>
    <button type="submit" asp-page-handler="Submit">Submit order</button>
</form>
